@page "/InterviewPrep/Asp"

<PageTitle>ASP.NET Notes</PageTitle>

<h1>ASP.NET Notes</h1>
<p>Stands for Active Server Pages
Supports many development models:</p>
<ul>
<li>Classic</li>
<li>ASP.NET Web Forms</li>
<li>ASP.NET MVC</li>
<li>ASP.NET Web Pages</li>
<li>ASP.NET API</li>
<li>ASP.NET Core</li>
</ul>
<h1 id="technology">Technology</h1>
<p>ASP and ASP.NET are server side technologies. When a browser requests an ASP or ASP.NET file, the ASP engine reads the file, executes the code, and returns the result to the browser.</p>
<h2 id="classic-asp">Classic ASP</h2>
<p>Microsoft&#39;s first server side scripting language.</p>
<h2 id="asp-net">ASP.NET</h2>
<p>Successor to Classic.</p>
<p>Have the extension <code>.aspx</code>. Normally written in C# (great).</p>
<h2 id="asp-net-web-pages">ASP.NET Web Pages</h2>
<p>A Single Page Application model. Quite similar to PHP or Classic ASP.</p>
<p>Currently being merged into ASP.NET Core.</p>
<h2 id="asp-net-mvc">ASP.NET MVC</h2>
<p>A Model-View Controller model. </p>
<p>Being merged into ASP.NET Core.</p>
<h2 id="asp-net-web-api">ASP.NET Web API</h2>
<p>An Application Programming Interface.</p>
<p>Being merged into ASP.NET Core.</p>
<p>Not covered.</p>
<h2 id="asp-net-web-forms">ASP.NET Web Forms</h2>
<p>An event driven application model. This is not going to be part of ASP.NET Core and is not covered in the tutorial.</p>
<h2 id="asp-net-core">ASP.NET Core</h2>
<p>Released in 2016, merges MVC, API, and Web Pages into a single application framework.</p>
<h1 id="difference-between-asp-net-and-asp-net-core">Difference between ASP.NET and ASP.NET Core</h1>
<p>ASP.NET version 4.x is a mature framework, and ASP.NET Core is the successor to ASP.NET.</p>
<p>ASP.NET is only for windows while Core is cross platform.</p>
<p>Core uses Razor pages, while ASP.NET uses Web Forms, SignalR, MVC, Web API, Webhooks, or Web pages. Razor is the recommended method though. </p>
<p>Core supports multiple versions on a single machine, good for having different projects and running different versions due to dependencies.</p>
<p>Core can be developed using Visual Studio or Visual Studio Code. ASP.NET is only truly supported in Visual Studio.</p>
<p>Core has a higher performance.</p>
<p>Core uses the newer .NET Core runtime, ASP.NET uses the .NET Framework runtime.</p>
