@page "/InterviewPrep/Sharepoint"

<p>A Confluence/Wix style website builder. File sharing and documents and articles for your org.</p>
<p>Set up a site for your team. Customize it with doc repositories for accessing the file, shared calendars, publish news, lists, etc.</p>
<p>There are team and communication sites.</p>
<h1 id="homepage">Homepage</h1>
<p>The start page lists all the news from all the sites you are a part of, frequent sites, saved for later, and allows you to create a new site or news post.</p>
<h1 id="site-types">Site types</h1>
<ul>
<li>Team site:<ul>
<li>Where a team comes together to work. Share files and tasks and things.</li>
</ul>
</li>
<li>Communication site:<ul>
<li>Used to send info to lots of people.</li>
</ul>
</li>
</ul>
<h1 id="content">Content</h1>
<p>Lists, forms,  document libraries, pages, news posts, news links, and apps.</p>
<h1 id="edit-tools">Edit tools</h1>
<p>You can edit a page to embed various things, adjust the column layout of the page, etc. Things you can add to a page include:</p>
<ul>
<li>Text</li>
<li>Images</li>
<li>Video</li>
<li>File viewers</li>
<li>Power BI dashboards</li>
<li>Lists (and other Sharepoint content types)</li>
<li>Third-party dashboards like Github</li>
<li>etc<h1 id="teams">Teams</h1>
Each Sharepoint site can easily have it&#39;s own Microsoft Team&#39;s team.</li>
</ul>
<p>You can even add the sharepoint site straight to Microsoft Teams.</p>

