@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi, this is a test project.</h1>

<p>My name is Evan. I have no idea how Blazor works (yet).</p>
<p>I made this app to learn how to use Blazor, how to deploy to Azure, and learn some new Blazor and C# along the way.</p>