@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi, this is a test project.</h1>

<p>My name is Evan. I have no idea how Blazor or razor pages work (yet).</p>
<p>I made this app to learn how to use Blazor, how to deploy to Azure, and learn some new Blazor and C# along the way.</p>
<p>The only content on this little site is some notes I took to prepare for my interviews. I'm already knowledgable of the topics, so the notes are mostly just refresher.</p>
<p>My notes were all originally written in markdown, so my build process went like this...</p>
<ul>
    <li>Figure out how to render markdown in HTML</li>
    <li>Figure out how to render a string containing HTML</li>
    <li>Realize that rendering it on the fly was less performant and also not as good as just converting it from markdown to HTML using a website.</li>
    <li>Take the better way: Convert the notes into HTML beforehand.</li>
</ul>