@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi, this is a test project.</h1>

<p>My name is Evan. I have no idea how Blazor or razor pages works (yet).</p>
<p>I made this app to learn how to use Blazor, how to deploy to Azure, and learn some new Blazor and C# along the way.</p>
<p>The only content on this little site is some notes I took to prepare for my interviews. I'm already knowledgable of the topics, so the notes are mostly just refresher.</p>