@page "/InterviewPrep"

<h1>Interview Preparation</h1>

<p>Links to Interview prep pages.</p>

<ul>
    <li><a href="/InterviewPrep/CSharp">C# Notes</a></li>
    <li><a href="/InterviewPrep/Asp">ASP notes</a></li>
    <li><a href="/InterviewPrep/Php">PHP Notes</a></li>
    <li><a href="/InterviewPrep/Power">Microsoft Power Platform notes</a></li>
    <li><a href="/InterviewPrep/Sharepoint">Sharepoint Notes</a></li>
    <li><a href="/InterviewPrep/Sql">SQL Notes</a></li>
</ul>