@page "/interviewprep"

<h1>Interview Preparation</h1>

<p>Welcome to the Interview Preparation page!</p>

<ul>
    <li><a href="/CSharp">C# Notes</a></li>
    <li><a href="/Asp">ASP notes</a></li>
    <li><a href="/Php">PHP Notes</a></li>
    <li><a href="/Power">Microsoft Power Platform notes</a></li>
    <li><a href="/Sharepoint">Sharepoint Notes</a></li>
    <li><a href="/Sql">SQL Notes</a></li>
</ul>